<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%- include('../partials/head'); %>

    <title>About</title>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class='explore-main'>
        <h1>Explore</h1>
        <p>Find new people to follow!</p>

        

        <div id='profiles'>
            <% profiles.forEach((profile) => { %>
              <div class="<%= profile._id %>">
                <h2><%= profile.firstName %> <%= profile.lastName %></h2>
                <p>Age: <%= profile.age %></p>
                <p>Favourite Songs:</p>
                <p>
                  <% if (profile.favouriteSongs[0].length === 0 ) { %>
                    <%= profile.firstName %> hasn't given any favourite songs yet
                  <% } else { %>
                    <%= profile.favouriteSongs %>
                 <% } %>
                </p>
                <p>Moods:</p>
                <p>
                  <% if (profile.mood[0].length === 0 ) { %>
                     <%= profile.firstName %> hasn't given any moods yet
                   <% } else { %>
                     <%= profile.mood %>
                  <% } %>
                </p>
                <form action="/following/follow/<%= profile._id %>" method="POST">
                  <input type="hidden" name="followStatus" value="<%= profile.follow ? 'false' : 'true' %>">
                  
                  <% if (profile.follow) { %>
                    <button>Unfollow</button>
                  <% } else { %>
                    <button>Follow</button>
                  <% } %>
                </form>
                <img src='/images/imageBackupGandalf.jpg'>
              </div>
            <% }); %>
          </div>

    
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src='/scripts/navbarScript.js'></script>
</body>
</html>







