<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%- include('../partials/head'); %>

    <title>Following</title>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class='following-main'>
        <h1>Following</h1>
        <p>Here you can manage the people you're following</p>
        <div id="empty-message" class="<%= emptyMessageH2 ? '' : 'empty-message-hidden' %>">
            <h2><%=emptyMessageH2 %></h2>
            <img src="<%= emptyImage %>">
            <p><%= emptyMessageP %></p>
        </div>
        <div id='following-profiles'>
            <% followingArray.forEach((profile) => { %>
              <div class="<%= profile._id %>">
                <h2><%= profile.firstName %> <%= profile.lastName %></h2>
                <p>Age:<%= profile.age %></p>
                <p><%= profile.favouriteSongs %></p>
                <p><%= profile.mood %></p>
                <form action="/following/followlist/<%= profile._id %>" method="POST">
                  <input type="hidden" name="followStatus" value="<%= profile.follow ? 'false' : 'true' %>">
                  <% if (profile.follow) { %>
                    <button>Unfollow</button>
                  <% } else { %>
                    <button>Follow</button>
                  <% } %>
                </form>
                <img src='<%= profile.profilePicture %>'>
              </div>
            <% }); %>
          </div>

    
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
</body>
</html>







