<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
		<%- include('../partials/head'); %>
	</head>
	<body class='matching'>
		<header><%- include('../partials/header') %></header>
		<!-- Wrapper -->
		<section>
			<!-- Top bar -->
			<section>
				<a href='/'>
					<img
						src='img/home.png'
						alt='Knop om terug te gaan naar startscherm' />
				</a>

				<h1>Beste Match</h1>

				<i class='material-icons'>more_horiz</i>
			</section>

			<!-- Lied details -->
			<section>
				<img src='<%= cover %>' alt='Album cover' />
				<p><%= title %></p>
				<p><%= artist %></p>
			</section>

			<!-- Voortgang area -->
			<section>
				<section>
					<audio id='current-audio' src='<%= audiofile %>'></audio>
				</section>

				<!-- song timer -->
				<section>
					<span id='huidige-tijd'>0:00</span>
					<section class='progress-bar'>
						<section class='tijd-indicator'></section>
					</section>
					<span id='max-tijd'>0:00</span>
				</section>
			</section>

			<!-- Controls -->
			<section>
				<a href='/update-voel'>
					<img src='/img/editicon.png' id='wijzig-lied' />
				</a>

				<i id='play-knop' class='material-icons'>play_arrow</i>

				<a href='<%= spotifylink %>'>
					<img src='/img/spotifylogo.png' id='spotify' />
				</a>
			</section>

			<!-- Muziek lijst -->
			<section>
				<!-- Header -->
				<section>
					<!-- Rij -->
					<section>
						<i class='list material-icons'>queue_music</i>
						<p>Wachtrij</p>
					</section>
					<i id='close' class='material-icons'>close</i>
				</section>

				<ul></ul>
			</section>
		</section>

		<script src='/scripts/matchingscripts.js' type='module'></script>
	</body>
</html>
