<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <%- include('../partials/head'); %>

        <title>My Profile</title>
    </head>

    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main class="myProfile-main">
            <h1 class="myProfile-title">My profile</h1>
            <div id="myProfile-container">
                <h2> <%= user.firstName %> <%= user.lastName %></h2>
                <p>Age: <%= user.age %></p>
                <p>Liked Songs:</p>
                <p>
                  <% likedSongs.forEach((song) => { %> <%= song.title %>, <% }); %>
                </p>
                <p>Moods:</p>
                <p> 
                  <%= user.mood %>
                </p>
                <a href="/following/followlist">Following</a>
                <img src="/images/imageBackupGandalf.jpg" alt="profile picture admin">
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
        <script src='/scripts/navbarScript.js'></script>
    </body>
