<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include('../partials/head'); %>

    <title>My Profile</title>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>
    <main class="myProfile-main">
      <h1 class="myProfile-title">My profile</h1>
      <div class="myProfile-container">
        <h2 class="myProfile-name">
          <%= user.firstName %> <%= user.lastName %>
        </h2>
        <a class="myProfile-ahref" href="/following/followlist">Following</a>
        <p class="myProfile-about"><%= user.mood %></p>
        <p class="myProfile-age">Age: <%= user.age %></p>
        <p class="myProfile-songs">
          <!-- all liked songs for the admin -->
          <% likedSongs.forEach((song) => { %> Artist:<%= song.artist %>: <%= song.title %>, <% }); %>
        </p>
        <img
          class="myProfile-image"
          src="<%= user.profilePicture %>"
          alt="profile picture admin"
        />
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
