<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head'); %>

    <title>Songs</title>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>

    <main class="explore-main">
      <h1>Songs</h1>
      <p>Find new songs to like!</p>

      <div id="songs">
        <% songs.forEach((song) => { %>
        <div class="<%= song._id %>">
          <h2><%= song.title %></h2>
          <p>Artist:<%= song.artist %></p>
          <form action="/liking/like/<%= song._id %>" method="POST">
            <input
              type="hidden"
              name="likeStatus"
              value="<%= song.adminLike === 'true' ? 'false' : 'true' %>"
            />
            <% if (song.adminLike === 'true') { %>
            <button>Unlike</button>
            <% } else { %>
            <button>Like</button>
            <% } %>
          </form>
          <img src='<%= song.cover %>'>
        </div>
        <% }); %>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
